@font-face {
    font-family: mono;
    src: url(mono.ttf); 
  }
  @font-face {
    font-family: derk;
    src: url(derk.otf);
  }
    html {
    font-family: mono;
  }
  *, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  body {
    background: rgb(17, 17, 17);
  }
  #overlay-toggle {
    position:absolute;
    display: none;
  }
  .debold{
    font-weight:normal
  }
  .back {
  width: 100%;
  }
  .test-fix {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .overlay {
    z-index: 1;
    background-color: black;
  }
  .overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  .no-hover {
    display: block;
  }
  .hover {
    display: none;
  }
  .fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
  }
  .text-content {
    background: rgba(0, 0, 0, 0);
    display: grid;
    place-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .text-content h1 {
    font-size: 3rem;
    font-weight: 800;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 24px;
    padding-left: 10px;
  }
  .text-content p {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 31px;
    padding-left: 10px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 0.0;
    color: rgb(192, 192, 192);
    display: flex;
  }
  .text-content a {
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 31px;
    padding-left: 10px;
    font-size: 1.3rem;
    line-height: 0.0;
    color: #cccccc;
    display: block;
    text-align: center;
  }
/* Full-width inputs */
input[type=text], input[type=password], input[type=invitecode] {
  padding: 10px 10px;
  margin: -10px -10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: transparent;
  color: white;
}

/* Set a style for all buttons */
button {
  background-color: #3d3d3d00;
  color: white;
  padding: 0px 0px;
  margin: 0px 0px;
  border: none;
  cursor: pointer;
  height: 1%;
  font-size: 17px;
  text-align: center;
  font-family: mono; 
  text-shadow: 0 0 0.40em #bababa;
  align-items: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
  #overlay-toggle:checked ~ .overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 600ms, 1ms;
  }
  #overlay-toggle:checked ~ .overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms;
  }
  @media(hover: hover) {
    .hover {
      display: block;
    }
    .no-hover {
      display: none;
    }
  }
  @keyframes fade{
    to {
      opacity: 0;
    }
  }
  @keyframes hide {
    to {
      visibility: hidden;
    }
  }
